.navbar{
    background-color: darkblue;
}
.innerr-navbar{
    height: 100px;
}
.text-secondary{
    height: 150px;
}
.btn btn-primary{
    background-color: green;
}
.well-small
{
   background-color: black;
}
.menu-open{
    background-color:black;
}
.nav-tabs{
    background-color: black;
}
.well-small{
    background-color: black;

}
.thumbnails{
    background-color: black;
    margin-right: -30px;
}
.span9{
    background-color: black;
}



